node_modules
dist
.DS_Store
*.local
*.log

# env
.env
.env.local

# VSCode
.vscode/
!.vscode/extensions.json

coverage/
playwright-report/
test-results/

[executed on device: localhost.localdomain (9efb35a7-f471-4803-9cf5-53e66e022ee9)]